.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    background-color: var(--tertiary-color);
    align-items: center;
}

.back {
    position: fixed;
    top: 10vh;
    left: 25px;
}

.green-back{
    display: none;
}

.back:hover .green-back{
    display: block;
}

.back:hover .black-back{
    display: none;
}


.main-img {
    width: 30vw;
    height: 30vh;
}

.nutrients-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.nutrients-sub-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}

.nutrients-sub-content-2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
}

.nutrients {
    width: 300px;
}