body{
    background-color: var(--tertiary-color);
}
main{
    flex-direction: column;
}

.content-aliment-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.btn {
    color: black;
    background-color: var(--primary-color);
    padding: 15px;
    border-radius: 5px;
    width: 150px;
    border: none;
    font-weight: bold;
    text-decoration: none;
}

.btn:hover {
    color: var(--primary-color);
    background-color: white;
}

